:root {
    --secondary-color: #6c757d;
    --barline-color: lightgray;
    --font-stack: 'Open Sans', sans-serif;
    --container-padding: 30px;
    --font-color: #717171;
    --blessed-color: rgba(237, 221, 83, 1);
    --ok-color: rgba(87, 199, 133, 1);
    --start-warn-color: #f4cd70;
    --warn-color: #ed6f02;
    --cursed-color: rgba(255, 0, 26, 1);
  }

  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: small;
  }

  * {
    font-family: var(--font-stack);
    text-align: center;

    font-size: small;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;

    color: var(--font-color);
    border: none;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 120px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  }

  .labels, .meters {
    display: flex;
    flex-direction: column;
  }

  .label {
    display: flex;
    align-items: flex-end;
  }

  .meters {
    width: 90px;
    height: 500px;
    margin: 0;
    padding: 0;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    border: 1px solid var(--barline-color);
    border-radius: 3px;
  }

  .bar-lines {
    height: 500px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    border: 1.33px solid var(--secondary-color);
    z-index: 2;
    box-sizing: border-box;
  }

  .bar-line:nth-child(1) {
    position: absolute;
    width: 100%;
    top: 49.335px;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(2) {
    position: absolute;
    width: 100%;
    top: 99.335px;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(3) {
    position: absolute;
    width: 100%;
    top: 149.335px;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(4) {
    position: absolute;
    width: 100%;
    top: 199.335px;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(5) {
    position: absolute;
    width: 100%;
    top: 249.335px;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(6) {
    position: absolute;
    width: 100%;
    top: 299.335px;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(7) {
    position: absolute;
    width: 100%;
    top: 349.335px;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(8) {
    position: absolute;
    width: 100%;
    top: 399.335px;;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(9) {
    position: absolute;
    width: 100%;
    top: 449.335px;
    border: 1px solid var(--secondary-color);
  }

  .bar-line:nth-child(10) {
    position: absolute;
    width: 100%;
    top: 499.335px;
    border: 1px solid var(--secondary-color);
  }

  .meter-fill-container {
    height: 500px;
    width: 90px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    border-radius: 3px;
  }

  .bless-fill-container {
    height: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bless-meter-fill {
    background: linear-gradient(0deg,var(--ok-color) 0%, var(--blessed-color) 85%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .curse-fill-container {
    height: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 250px;
    left: 0;
  }

  .curse-meter-fill {
    background: linear-gradient(0deg,var(--cursed-color) 0%, var(--warn-color) 50%, var(--start-warn-color) 100%);
    width: 100%;
    height: 100%;
  }

  .label-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 93px;
  }

  .label:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
  }

  .label:nth-child(2) {
    position: absolute;
    top: 42.5px;;
    left: 0;
  }

  .label:nth-child(3) {
    position: absolute;
    top: 92.5px;;
    left: 0;
  }

  .label:nth-child(4) {
    position: absolute;
    top: 142.5px;;
    left: 0;
  }

  .label:nth-child(5) {
    position: absolute;
    top: 192.5px;
    left: 0;
  }

  .label:nth-child(6) {
    position: absolute;
    top: 242.5px;
    left: 0;
  }

  .label:nth-child(7) {
    position: absolute;
    top: 292.5px;
    left: 0;
  }

  .label:nth-child(8) {
    position: absolute;
    top: 342.5px;
    left: 0;
  }

  .label:nth-child(9) {
    position: absolute;
    top: 392.5px;
    left: 0;
  }

  .label:nth-child(10) {
    position: absolute;
    top: 442.5px;
    left: 0;
  }

  .label:nth-child(11) {
    position: absolute;
    top: 485px;
    left: 0;
  }

  .buttons-container {
    position: absolute;
    top: 505px;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 120px;
  }

  .reset-button {
    background-color: var(--secondary-color);
    color: white;
    font-size: large;
    font-weight: bold;
    border: 1px solid var(--barline-color);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 91px;
  }

  .reset-button:hover {
    background-color: lightgray;
    color: darkslateblue;
  }

  .reset-button:active {
    background-color: var(--secondary-color);
    color: white;
  }

  .counters-container {
    z-index: 3;
  }

  .bless-counter {
    position: absolute;
    top: 225px;
    left: 31.4295px;
    color: black;
    font-size: medium;
  }

  .curse-counter {
    position: absolute;
    top: 266px;
    left: 31.4295px;
    color: black;
    font-size: medium;
  }